<h1>Create User</h1>

{{input type}}

{{drop-down content=programmers value=someBindingValue selectClass="some classname" optionValuePath="value" optionLabelPath="display"}}


{{input type="text" class="new-todo" placeholder="What needs to be done?" value=newTitle action="createTodo"}}

{{outlet}}