<h1>Create User</h1>


<div>
{{#x-select value='mr' action="selectTitle" as |xs|}}
  {{#xs.option value=mr}}Mr{{/xs.option}}
  {{#xs.option value=mrs}}Mrs{{/xs.option}}
  {{#xs.option value=dr}}Dr{{/xs.option}}
  {{#xs.option value=cpt}}Cpt{{/xs.option}}
{{/x-select}}
</div>

<div>
{{input type="text" class="new-todo" placeholder="Enter Name Here!" value=newTitle action="createTodo"}}
</div>


{{outlet}}